---
http_interactions:
- request:
    method: get
    uri: https://api.put.io/v2/files/list?oauth_token=SU8E03NO&parent_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Srv:
      - api
    body:
      encoding: US-ASCII
      string: ! "{\n  \"files\": [\n    {\n      \"is_shared\": false,\n      \"name\":
        \"Uploading to Piratebay- The Complete Guide.txt\",\n      \"screenshot\":
        null,\n      \"created_at\": \"2012-11-28T19:54:33\",\n      \"opensubtitles_hash\":
        null,\n      \"parent_id\": 0,\n      \"is_mp4_available\": false,\n      \"content_type\":
        \"text/plain\",\n      \"icon\": \"https://put.io/images/file_types/text.png\",\n
        \     \"id\": 49524094,\n      \"size\": 487\n    },\n    {\n      \"is_shared\":
        false,\n      \"name\": \"Futurama - Season 7 (XviD)\",\n      \"screenshot\":
        null,\n      \"created_at\": \"2012-11-28T12:49:24\",\n      \"opensubtitles_hash\":
        null,\n      \"parent_id\": 0,\n      \"is_mp4_available\": false,\n      \"content_type\":
        \"application/x-directory\",\n      \"icon\": \"https://put.io/images/file_types/folder.png\",\n
        \     \"id\": 49493953,\n      \"size\": 2496004554\n    },\n    [...]
- request:
    method: get
    uri: https://api.put.io/v2/files/49524094/download?oauth_token=SU8E03NO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://frc.put.io/download/49524094?tunnel=1&token=7e69148e39f811e2a1e900248126f0ef&storage=s10&attachment=1
      Srv:
      - api
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to target URL: <a href="https://frc.put.io/download/49524094?tunnel=1&token=7e69148e39f811e2a1e900248126f0ef&storage=s10&attachment=1">https://frc.put.io/download/49524094?tunnel=1&token=7e69148e39f811e2a1e900248126f0ef&storage=s10&attachment=1</a>.  If
        not click the link.'
  recorded_at: Thu, 29 Nov 2012 09:17:49 GMT
recorded_with: VCR 2.3.0
