---
http_interactions:
- request:
    method: get
    uri: https://api.put.io/v2/files/list?oauth_token=SU8E03NO&parent_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Srv:
      - api
    body:
      encoding: US-ASCII
      string: ! "{\n  \"files\": [\n    {\n      \"is_shared\": false,\n      \"name\":
        \"Futurama - Season 7 (XviD)\",\n      \"screenshot\": null,\n      \"created_at\":
        \"2012-11-28T12:49:24\",\n      \"opensubtitles_hash\": null,\n      \"parent_id\":
        0,\n      \"is_mp4_available\": false,\n      \"content_type\": \"application/x-directory\",\n
        \     \"icon\": \"https://put.io/images/file_types/folder.png\",\n      \"id\":
        49493953,\n      \"size\": 2496004554\n    },\n    {\n      \"is_shared\":
        false,\n      \"name\": \"The.Walking.Dead.S03E07.720p.HDTV.x264-EVOLVE.mkv\",\n
        \     \"screenshot\": \"https://put.io/screenshots/llxlYWdjYl%2BViVpiVmdjZmGSXmSIW2VYl5FlYmSJZllZkldkXZJhYg.jpg\",\n
        \     \"created_at\": \"2012-11-27T07:50:43\",\n      \"opensubtitles_hash\":
        \"01c196ef81d986e9\",\n      \"parent_id\": 0,\n      \"is_mp4_available\":
        true,\n      \"content_type\": \"video/x-matroska\",\n     [...]
