---
http_interactions:
- request:
    method: get
    uri: https://api.put.io/v2/files/list?oauth_token=SU8E03NO&parent_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Srv:
      - api
    body:
      encoding: US-ASCII
      string: ! "{\n  \"files\": [\n    {\n      \"is_shared\": false,\n      \"name\":
        \"Uploading to Piratebay- The Complete Guide.txt\",\n      \"screenshot\":
        null,\n      \"created_at\": \"2012-11-28T19:54:33\",\n      \"opensubtitles_hash\":
        null,\n      \"parent_id\": 0,\n      \"is_mp4_available\": false,\n      \"content_type\":
        \"text/plain\",\n      \"icon\": \"https://put.io/images/file_types/text.png\",\n
        \     \"id\": 49524094,\n      \"size\": 487\n    },\n    {\n      \"is_shared\":
        false,\n      \"name\": \"Futurama - Season 7 (XviD)\",\n      \"screenshot\":
        null,\n      \"created_at\": \"2012-11-28T12:49:24\",\n      \"opensubtitles_hash\":
        null,\n      \"parent_id\": 0,\n      \"is_mp4_available\": false,\n      \"content_type\":
        \"application/x-directory\",\n      \"icon\": \"https://put.io/images/file_types/folder.png\",\n
        \     \"id\": 49493953,\n      \"size\": 2496004554\n    },\n    [...]
[...]
- request:
    method: get
    uri: https://api.put.io/v2/files/list?oauth_token=SU8E03NO&parent_id=49330388
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Srv:
      - api
    body:
      encoding: US-ASCII
      string: ! "{\n  \"files\": [\n    {\n      \"is_shared\": false,\n      \"name\":
        \"hell.on.wheels.s01e08.720p.hdtv.x264-compulsion.sample.mkv\",\n      \"screenshot\":
        \"https://put.io/screenshots/aFVsYWJpZohgXoqRi2hlZJWQXmJWXGVemF5iYWOHYopWkYlpZJNpjg.jpg\",\n
        \     \"created_at\": \"2012-11-26T17:27:03\",\n      \"opensubtitles_hash\":
        \"11caf94160c45229\",\n      \"parent_id\": 49330388,\n      \"is_mp4_available\":
        false,\n      \"content_type\": \"video/x-matroska\",\n      \"icon\": \"https://put.io/thumbnails/aFVsYWJpZohgXoqRi2hlZJWQXmJWXGVemF5iYWOHYopWkYlpZJNpjg.jpg\",\n
        \     \"id\": 49330389,\n      \"size\": 39207568\n    }\n  ],\n  \"status\":
        \"OK\",\n  \"parent\": {\n    \"is_shared\": false,\n    \"name\": \"Sample\",\n
        \   \"screenshot\": null,\n    \"created_at\": \"2012-11-26T17:27:03\",\n
        \   \"opensubtitles_hash\": null,\n    \"parent_id\": 49330387,\n    \"is_mp4_available\":
        false,\n    \"content_type\": \"application/x-directory\",\n    \"icon\":
        \"https://put.io/images/file_types/folder.png\",\n    \"id\": 49330388,\n
        \   \"size\": 1402166923\n  }\n}"
  recorded_at: Thu, 29 Nov 2012 09:23:19 GMT
recorded_with: VCR 2.3.0
